<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<body>
<link href="<%= url('/align.css') %>" rel="stylesheet" type="text/css" />
<div id="center">
<h1><%=@user.username%></h1><br><br>
</head>
<ul>
<li><h1> Name:  <%= @product.product_name %> </h1></li><br><br>
<li><h1> Alloy: <%= @product.alloy %> </h1></li><br><br>
<li><h1> Size:  <%= @product.size %> </h1></li><br><br>
<li><h1> Gemstone: <%= @product.gemstone %> </h1></li><br><br>
</ul>
</div>
</body>
</html>
#<a class="button" href="/products/<%= @product.id %>/edit">Edit Product</a>
#<a class="button" href="/products">Products</a>
